form {
  display: flex;
  align-items: flex-end;

  mat-card {
    margin: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;

    .source {
      align-items: flex-end;
      align-content: flex-end;
    }
  }

  mat-form-field {
    width: 100%;
  }

}
